body{
background-image: url(background.png);
}
#Taittinger{
width: 375px;
margin: 15px;
}
#NotreDame{
  width: 422px;
  margin: 15px;
}
#ChampagneRegion{
  margin: 15px;
}
#Homepage{
  width:100%;
  height: 300px;
}
h1{
  font-family: Papyrus;
  text-align: center;
}
