body{
background-image: url(background.png);
}
#Taittinger{
width: 375px;
margin: 15px;
}
#NotreDame{
  width: 422px;
  margin: 15px;
}
#ChampagneRegion{
  margin: 15px;
}
#Homepage{
  width:100%;
  height: 300px;
}
h1{
  text-align: center;
  border: 2px solid black;
  padding: 10px 5px 5px 5px;
}
/* unvisited link */
a:link {
    color: blue;
    text-decoration: none;
}
/* visited link */
a:visited {
    color: purple;
    text-decoration: none;
  }
  .title{
  font-family: Papyrus;
  }
  h2{
    text-decoration-line: underline;
    padding: 0px;
    margin: 5px;
